body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 500;
    margin-bottom: 10px;
    }
h2{
    font-size: 40;
    margin-top: 50px;
    align-self: center;
}
#myfocus{
    padding-top: 70px;
}
#myphoto{
    border-radius: 300px;
    width: 300px;
    margin-left: 150px;
    margin-top: 5px;
}
section{
    display: flex;
    margin-left: 6%;
    margin-right: 6%;    
}
.split{
    margin: top px;;
    width: 50%;
    padding-left: 30px;
    padding-top: 10px;
}
.split1{
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: 25%;
    height: 200px; 
    

}
#mission{
    background-color:rgb(88, 156, 214);
}
#vision{
    background-color: violet;
}
#goals{
    background-color: rgb(241, 153, 137);
}

.split img{
    width: 70%;
}
.mission-color{
    color: orange;
}
#fstp{
    margin-top: px;
}
.buttons{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 200;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: large;
    background-color: rgb(0, 150, 236);
}
.center-headings{
    text-align: center;

}
.develop{
    font: weight 300%;
    padding-left: 20px;
    width: 150%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 7px;
}
.split2{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 100px;
    border-radius: 7px;
    
}

footer{
    font-style: italic;
    background-color: black;
    text-align: center;
    color: blanchedalmond;
}
#ftspan{
    color: orange;
}
#fthead{
    margin-top: 100px;
}
.twoimg{
    border-radius:10px;
    width: 290px; 
    height: 300px;
}
#lastimg{
    border-radius:10px;
    width: autopx; 
    height: 300px;
    box-shadow: gray 10px 10px 10px;
}
#lastt{
    background-image:url(photos/dream-bg.png);
    background-repeat: no-repeat;
    background-size: 2cm;
;
}
