body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 500;
    margin-bottom: 10px;
    }
h2{
    font-size: 40;
    margin-top: 50px;
    align-self: center;
}
section{
    display: flex;
}
.split{
    margin: top px;;
    width: 50%;
    padding-left: 5%;
    padding-top: 10px;
}
.split1{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 7px;
    box-shadow: slategrey 10px 10px 10px;
}
#mission{
    background-color: rgb(145, 123, 94);
}
#vision{
    background-color: violet;
}
#goals{
    background-color: rgb(241, 153, 137);
}

.split img{
    width: 70%;
}
.mission-color{
    color: orange;
}
#fstp{
    margin-top: 50px;
}
.firstbutton{
    text-decoration: none;
    color: rgb(151, 9, 9);
    font-weight: 100;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: large;
    background-color: rgb(0, 150, 236);
}
.center-headings{
    text-align: center;

}
.develop{
    font: weight 300%;
    padding-left: 20px;
    width: 150%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 7px;
}


footer{
    font-style: italic;
    background-color: black;
    text-align: center;
    color: blanchedalmond;
}
#ftspan{
    color: orange;
}
#ftheat{
    margin-top: 200px;
}
